.admin-service-management {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.status-completed {
    color: green;
    font-weight: bold;
}
.status-inprogress {
    color: orange;
}
.status-pending {
    color: gray;
}

